<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-purple.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>



<!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
  <i onclick="w3_open()" class="fa fa-bars w3-xlarge w3-button w3-theme"></i>
  <div class="w3-center">
  <h4>Order NYU</h4>
  <h1 class="w3-xxxlarge w3-animate-bottom">Pick Up Time</h1>
    <div class="w3-padding-32">
    </div>
  </div>
</header>

<div class="w3-row-padding w3-center w3-margin-top"></div>

<div class="w3-row-padding">
<div class="w3-large">
<form class="w3-container w3-card-4">
  <div class="w3-section">
    <input class="w3-input" type="text" required>
    <label><h2 class="w3-center">Net-ID</h2></label>
  </div>
</form>
</div>
</div>

<div class="w3-row-padding w3-center w3-margin-top"></div>

<div class="w3-row-padding">
<div class="w3-large">
<form class="w3-container w3-card-4">
  <div class="w3-section">
    <input class="w3-input" type="range" value="0" min="0" max="24" step="1">
    <label><h2 class="w3-center" id="time"></h2></label>
  </div>
</form>
</div>
</div>

<div class="w3-row-padding w3-center w3-margin-top"></div>

<!-- Footer -->
<footer class="w3-container w3-theme-dark w3-padding-16">
  <h3>Order NYU</h3>
  <p>Powered by Amazon EC2 <a href="" target="_blank"></a></p>
  <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
    <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>
</footer>

<!-- Script for Sidebar, Tabs, Accordions, Progress bars and slideshows -->
<script>
// Side navigation
function w3_open() {
    var x = document.getElementById("mySidebar");
    x.style.width = "100%";
    x.style.fontSize = "40px";
    x.style.paddingTop = "10%";
    x.style.display = "block";
}
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

function getInitialTime() {
  var d = new Date();
  var hh = d.getHours();
  var m = d.getMinutes();
  var dd = "AM";
  var h = hh;
  if (h >= 12) {
    h = hh - 12;
    dd = "PM";
  }
  if (h == 0) {
    h = 12;
  }
  m = m < 10 ? "0" + m : m;
  h = h<10?"0"+h:h;
  var time = h + ':' + m + ' ' + dd;
  return time;
}
window.onload = function() {
    document.getElementById("time").innerHTML = getInitialTime();
}

</script>

</body>
</html>
